-
  tableSettings = {
    key: "tableAccountablePerson",
    title: "Accountable Person",
    tooltipTitle: "List of person or unit who are accountable for this location",
    collapse: true,
    filterable: true,
    columns: [
      { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
      { label: "Contacts", name: "contacts", filter: {type: 'text'}},
      { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table

-
  modalForm = {
    key: "openAddAccountablePerson",
    title: "Create Accountable Person",
    form: {
      url: data.addUrl,
      fields: [
          { name: "refId", type: "hidden", value: data.referenceId },
          { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
      ] 
    },
    trigger: {
      className: "openAddAccountablePerson"
    }
  }
include ../component/new/modalForm