-
  tableSettings = {
    key: "tableCable",
    title: "Cable",
    tooltipTitle: "List of cable that located at this location",
    collapse: true,
    filterable: true,
    columns: [
      {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
      {label: "Label", name: "type", filter: {type: 'text'}},
      {label: "Type", name: "type", filter: {type: 'text'}},
      {label: "Role", name: "role", filter: {type: 'text'}},
      {label: "Route Section", name: "routesection", filter: {type: 'text'}},
      {label: "Length(m)", name: "length", filter: {type: 'text'}},
      {label: "#Core (T/U/B)", name: "core", filter: {type: 'text'}},
      {label: "Install Date", name: "installdate", filter: {type: 'text'}},
      {label: "Status", name: "status", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table
-
  modalForm = {
    key: "openAddCable",
    title: "Create Cable",
    form: {
      url: data.addUrl,
      fields: [
          { name: "refId", type: "hidden", value: data.referenceId },
          { name: "name", label: "Name", type: 'text', placeholder: "ex. DS-LBG-FE-10-05-01/03-03", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
          { name: "notes", label: "Notes", type: 'text', placeholder: "ex. PRONET"},
          { name: "division", label: "Division", type: 'text', placeholder: "ex. OSP", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
          { name: "measuredlength", label: "Measured Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
          rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
          { name: "calculatedlength", label: "Calculated Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
          rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
          { name: "estimatedloss", label: "Estimated Loss (dB)", type: 'number', placeholder: "ex. 0"}, 
          { name: "start_locn", label: "Start Locn", type: 'search', placeholder: "ex. KT2G",
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
              settings: {
                remote : {
                  url: "/info/locn",
                  query: "locnQuery",
                },
                resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                minChar: 3
              },
          },
          { name: "end_locn", label: "End Locn", type: 'search', placeholder: "ex. SLPC",
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
              settings: {
                remote : {
                  url: "/info/locn",
                  query: "locnQuery",
                },
                resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                minChar: 3
              },
          },
          { name: "type", label: "Type", type: 'select', placeholder: "ex. JUNC KD-G655", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
          settings: {remote: {url: '/info/type'}, resultMapping: {label: "name", value: 'key'}}},
          { name: "productname", label: "Product Name", type: 'select', placeholder: "ex. C1.12PIRELLI", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
          settings: {remote: {url: '/info/productName'}, resultMapping: {label: "name", value: "name"}}},
          { name: "networkrole", label: "Network Role", type: 'select', placeholder: "ex. BACKBONE", 
          rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
          settings: {remote: {url: '/info/cableNetworkRole'}, resultMapping: {label: "name", value: "name"}}}
        ]
    },
    trigger: {
      className: "openAddCable"
    }
  }
include ../component/new/modalForm