-
  tableSettings = {
    key: "tableConnectivity",
    title: "Network Element",
    tooltipTitle: "List of network element that located at this location",
    collapse: true,
    filterable: true,
    columns: [
      { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
      { label: "IP Address", name: "ip_address", filter: {type: 'text'}},
      { label: "Type", name: "type", filter: {type: 'text'}},
      { label: "Role", name: "role", filter: {type: 'text'}},
      { label: "Manufacturer", name: "manufacturer", filter: {type: 'text'}},
      { label: "Model", name: "model", filter: {type: 'text'}},
      { label: "Port", name: "port", filter: {type: 'text'}},
      { label: "Instant Date", name: "instant_date", filter: {type: 'text'}},
      { label: "Status", name: "status", filter: {type: 'text'}},
    ],
    data: data.datatable,
    buttons: data.buttonDatatable
  }
include ../component/new/table