-
  tableSettings = {
      key: "tableSpace",
      title: "Space",
      filterable: true,
      columns: [
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "Type", name: "type", filter: {type: 'text'}},
        {label: "Label", name: "label", filter: {type: 'text'}},
        {label: "Width (m)", name: "width", filter: {type: 'text'}},
        {label: "Length (m)", name: "length", filter: {type: 'text'}},
        {label: "Purpose", name: "purpose", filter: {type: 'text'}},
        {label: "Created At", name: "createdAt", filter: {type: 'text'}},
        {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        {label: "Creted On", name: "createdOn", filter: {type: 'text'}},
      ],
      data: data.datatable,
      buttons: data.buttonDatatable
    }
include ../component/new/table

-
  modalForm = {
    key: "openAddSpace",
    title: "Create Space",
    form: {
      url: data.addUrl,
      fields: [
          { name: "refId", type: "hidden", value: data.referenceId },
          { name: "type", label: "Type", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/FLOOR_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
          { name: "name", label: "Name", placeholder: "ex. Space 1", validate:'empty', required:true},
          { name: "label", label: "Label (m)", placeholder: "ex. Lantai 1", validate:'empty', required:true},
          { name: "width", label: "Width  (m)", placeholder: "ex. 10", validate:'empty', required:true},
          { name: "length", label: "Length (m)", placeholder: "ex. 10", validate:'empty', required:true},
          { name: "purpose", label: "Purpose", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/SPACE_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
      ]
    },
    trigger: {
      className: "openAddSpace"
    }
  }
include ../component/new/modalForm