block script
    script.
         $('#createnewroom').click(function(){
            // Get Location List
            $('#roomlocation').empty()
            $('#roomtype').empty()
            requestData('/layout2d/location',{method : "GET"},function(resp){
                $('#roombuilding').empty()
                $('#roomfloor').empty()
                $('#roomlocation').append(`<option value="">- Select Location - </option>`)
                resp.forEach((i) => {
                    $('#roomlocation').append(`<option value="${i._id}">${i.name}</option>`)
                })
            })
            requestData('/referenceObject/ROOM_TYPE',{method : "GET"},function(resp){
                $('#roomtype').append(`<option value="">- Select Room Type - </option>`)
                resp.data.forEach((i) => {
                    $('#roomtype').append(`<option value="${i.value}" title="${i.description}">${i.displayName}</option>`)
                })
            })
            $('.ui.modal.createroom').modal('show')
        })
        $('#findroom').click(function(){
            requestDataLoading('/layout2d/location',{method : "GET"},function(resp){
                $('#findroombuilding').empty()
                $('#findroomfloor').empty()
                $('#findroomlocation').append(`<option value="">- Select Location - </option>`)
                resp.forEach((i) => {
                    $('#findroomlocation').append(`<option value="${i._id}">${i.name}</option>`)
                })
            })
            $('.ui.modal.findroom').modal('show')
        })
        $('#createnewobject').click(function(){
            $('.ui.modal.createnewobject').modal('show')
        })
        $('#moveobject').click(function(){
            $('.ui.modal.moveobject').modal('show')
        })
        $('#roomdetail').click(function(){
            $('.ui.modal.roomdetail').modal('show')
        })
        $('#information').click(function(){
            $('.ui.modal.informations').modal('show')
        })
        $('#setspaceallocation').click(function(){
            $('.ui.modal.setspaceallocation').modal('show')
        })
        $('#generatelayout').click(function(){
            $('#alphabet').empty()
            $('#layout').empty()
            const options = {
                rows : $('#roomrow').val(),
                column : $('#roomcolumn').val(),
                floor : 4
            }
            generateLayout(options)
        })
        $('#clearcanvas').click(function(){
            clearCanvas()
        })