extends ../layout


block style
    style.
        table {
            table-layout: fixed;
            width: 100px;
        }
        td {
            text-align: center;
        }
        .beforegenerateclass {
            margin-top :100px;
            margin-bottom :100px;
        }
        .legend-left {
            position:absolute;
            z-index:2;
        }
        .room-header-name {
            float :right;
        }
block breadcrumb
  +breadcrumb('Layout 2D', {text: 'Home', url: '/'})

block large_container

  +onePaneLayout
    include modal.pug
    div.ui.raised.segment
        .row
            .column
                .ui.two.column.grid
                    .one.wide.column
                        center
                            br
                            i.map.icon
                    .fifteen.wide.column
                        .ui.segment
                            .ui.two.column.grid
                                .six.wide.column
                                    a#createnewroom.ui.tiny.blue.icon.button(data-tooltip="Create New Room") <i class="plus icon"></i>
                                    a#roomdetail.ui.tiny.teal.icon.button(data-tooltip="Room Detail") <i class="file alternate icon"></i>
                                    a#createnewobject.ui.tiny.green.icon.button(data-tooltip="Create New Object") <i class="server icon"></i>
                                    a#moveobject.ui.tiny.orange.icon.button(data-tooltip="Move Object") <i class="dolly icon"></i>
                                    a#clearcanvas.ui.tiny.red.icon.button(data-tooltip="Clear Canvas") <i class="eraser icon"></i>
                                    a#setspaceallocation.ui.tiny.blue.icon.button(data-tooltip="Set Space Assignment") <i class="check icon"></i>
                                    a#information.ui.tiny.teal.icon.button(data-tooltip="Information") <i class="info icon"></i>
                                    a#findroom.ui.tiny.green.icon.button(data-tooltip="Find Room") <i class="search icon"></i>

                                .ten.wide.column
                                    div.room-header-name
                                        h4#roomheadername
                                            |  &nbsp;&nbsp;&nbsp;&nbsp;
        .row
            .column
                .ui.two.column.grid
                    .one.wide.column
                         div.legend-left
                            span.ui.green.ribbon.label Ocupied
                            p
                            span.ui.blue.ribbon.label ODS
                            p
                            span.ui.red.ribbon.label Booking
                            p
                            span.ui.brown.ribbon.label Booking
                            p
                            span.ui.grey.ribbon.label Available
                    .fifteen.wide.column
                        #beforegenerate
                            center
                        
                                h4(style="margin-top:100px;margin-bottom:100px;") Let's Create / Find Existing Room
                        table.ui.celled.table
                                thead#alphabet
                                tbody#layout 
                        input(type="hidden" id="roomidhidden")
                        input(type="hidden" id="roomcolumnhidden")                    
                        input(type="hidden" id="roomrowhidden")                    

    include function-libraries.pug
    include button-function.pug
    include form-function.pug
    include form-event.pug
        

        

        
