.ui.modal.createroom
  .header
    | Create New Room
  .content
    form.ui.form
        .field
            label Location
            select#roomlocation.selection
                
        .field
            label Building
            select#roombuilding.selection
        .field
            label Floor
            select#roomfloor.selection
              
        .field
            label Type
            select#roomtype.selection
        .field
            label Name
            input#roomname(placeholder="ex. IT Hall C4" type="text")
        .field
            label Label
            input#roomlabel(placeholder="ex. Ruang IT Hall Gedung C Lantai 4" type="text")
        .field
            label Width (M)
            input#roomwidth(placeholder="ex. 10" type="number")
        .field
            label Height (M)
            input#roomheight(placeholder="ex. 10" type="number")
        .field
            label Length (M)
            input#roomlength(placeholder="ex. 10" type="number")
        .field
            label Squere Meter (m²)
            input#roomsqueremeter(placeholder="ex. 10" type="number")
        h4 Space Layout
        hr
        .field
            label Space Length (cm)
            input#roomspacelength(placeholder="ex. 10" type="number")
        .field
            label Space Width (cm)
            input#roomspacewidth(placeholder="ex. 10" type="number")
        .field
            label Total Row
            input#roomrow(placeholder="ex. 10" type="number")
        .field
            label Total Column
            input#roomcolumn(placeholder="ex. 10" type="number")
        .field
            label Row Direction
            select#roomrowdirection.selection
                option(value="") - Select Row Direction -
                option(value="N-S") NORTH-SOUTH
                option(value="S-N") SOUTH-NORTH
                option(value="E-W") EAST-WEST
                option(value="W-E") WEST-EAST
                option(value="NE-SW") NORT EAST-SOUTH WEST
                option(value="SW-NE") SOUTH WEST-NORTH EAST
                option(value="NW-SE") NORTH WEST-SOUTH EAST
                option(value="SE-NW") SOUTH EAST-NORTH WEST

  .actions
    .ui.blue.right.labeled.icon.button#generatelayout
      | View Layout
      i.cogs.icon
    .ui.positive.right.labeled.icon.button#submitcreateroom
      | Create
      i.checkmark.icon
.ui.modal.findroom
  .header
    | Find Room
  .content
    form.ui.form
        .field
            label Location
            select#findroomlocation.selection
        .field
            label Building
            select#findroombuilding.selection
        .field
            label Floor
            select#findroomfloor.selection
        .field
            label Room
            select#findroomroom.selection
  .actions
    .ui.green.right.labeled.icon.button#showfindroom
      | Show Layout
      i.cogs.icon
.ui.modal.setspaceallocation
  .header
    | Set Space Assignment
  .content
    form.ui.form
        .field
            label Assignment Status
            select#assignmentstatus.selection
                option(value="") - Select Assignment -
                option(value="ASSIGNED-COMMERCIAL") ASSIGNED-COMMERCIAL
                option(value="ASSIGNED-PRIVATE") ASSIGNED-PRIVATE
                option(value="RESERVED-COMMITED") RESERVED-COMMITED
                option(value="RESERVED-UNCOMMITED") RESERVED-UNCOMMITED
                option(value="UNUSED") UNUSED
                option(value="UNASSIGNED") UNASSIGNED

            #formassignmentdevice
            label Purpose
            select#assignmentpurpose.selection 
                option(value="") - Select Purpose -
                option(value="INTERNAL_USAGE") Internal Usage
                option(value="COMMERCIAL") Commercial Purpose
  .actions
    .ui.green.right.labeled.icon.button#savesetassignment
      | Save
      i.save.icon
.ui.modal.roomdetail
  .header
    | Room Detail
  .content
    | Woke
  .actions
    .ui.green.right.labeled.icon.button
      | Save Changes
      i.save.icon
.ui.modal.createnewobject
  .header
    | Create New Object
  .content
    | Woke
  .actions
    .ui.green.right.labeled.icon.button
      | Submit
      i.save.icon
.ui.modal.moveobject
  .header
    | Move Object
  .content
    | Woke
  .actions
    .ui.green.right.labeled.icon.button
      | Submit
      i.save.icon
.ui.modal.informations
  .header
    | Information
  .content
    | Woke
  .actions
    
    

