extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Floor', url: '/floor'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }
    function deletePhoto(locid,uid){
      alert('DELETED !')
    }
    $('.menu .item').tab()

block content
  -
    const actionTab  = {
      key: 'deleteFloor',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editFloor',
      title: 'Floor Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/FLOOR_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'level', label: 'Level', type: 'text', value: data.level},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'height', label: 'Height (m)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList
  -
    let tabSettings = {
      tab : [
        {
          name : "Map",
          key : "tab2",
          pathCollection :[
            {
              path : "tab/map",
              data : {}
            }
          ],
          active : true
        },
        {
          name : "Space",
          key : "tab3",
          pathCollection : [
            {
              path : "tab/floor",
              data : {
                datatable : data.floor,
                referenceId : "",
                addUrl : "/floor/floor",
                buttonDatatable : {
                  add: {label: "Add Floor", className: "openAddFloor"},
                  delete : {label: "Delete Floor", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/room",
              data : {
                datatable : data.room,
                referenceId : "",
                addUrl : "/floor/room",
                buttonDatatable : {
                  add: {label: "Add Room", className: "openAddRoom"},
                  delete : {label: "Delete Room", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/rack",
              data : {
                datatable : data.rack,
                referenceId : "",
                addUrl : "/floor/rack",
                buttonDatatable : {
                  add: {label: "Add Rack", className: "openAddRack"},
                  delete : {label: "Delete Rack", link: "delete", callBack: "deleteCallback"}
                }
              }
            }
          ],
          active : false
        },
        {
          name : "Electricity",
          key : "tab4",
          pathCollection : [
            {
              path : "tab/powerSource",
              data : []
            },
            {
              path : "tab/powerEquipment",
              data : []
            },
            {
              path : "tab/powerDistribution",
              data : {
                datatable : []
              }
            },
            {
              path : "tab/battery",
              data : []
            }
          ],
          active : false
        },
        {
          name : "Connectivity",
          key: "tab5",
          pathCollection: [
            {
              path : "tab/networkElement",
              data : []
            },
            {
              path : "tab/distributionFrame",
              data : []
            },
            {
              path : "tab/cable",
              data : []
            }
          ]
        },
        {
          name : "Service",
          key: "tab6",
          pathCollection : [
            {
              path : "tab/customer",
              data : []
            },
            {
              path : "tab/service",
              data : []
            },
            {
              path : "tab/reservation",
              data : []
            }
          ],
          active : false
        },
        {
          name : "Attachment",
          key : "tab7",
          pathCollection:[
            {
              path : "tab/photo",
              data : []
            },
            {
              path : "tab/video",
              data : []
            },
            {
              path : "tab/document",
              data : []
            },
            {
              path : "tab/virtualReality",
              data : []
            }
          ]
        },
        {
          name : "Asset",
          key : "tab8",
          pathCollection:[
            {
              path : "tab/capex",
              data : []
            },
            {
              path : "tab/opex",
              data : []
            }
          ]
        },
        {
          name : "Contact",
          key : "tab9",
          pathCollection:[
            {
              path : "tab/responsible",
              data : []
            },
            {
              path : "tab/accountable",
              data : []
            },
            {
              path : "tab/controller",
              data : []
            },
            {
              path : "tab/informer",
              data : []
            }
          ]
        },
        {
          name : "Event",
          key : "tab10",
          pathCollection:[
            {
              path : "tab/maintenance",
              data : []
            },
            {
              path : "tab/project",
              data : []
            }
          ]
        }
      ]
    } 
  include ../component/new/tab

