extends ../layout

block breadcrumb
  +breadcrumb('Building', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Building",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        //- add: {label: "Create a new Building", callback: "createBuilding"},
        add: {label: "Create a new Building", className: "openAddModal"},
      }
    }
  include ../component/new/table
  -
    modalForm = {
      key: "createBuilding",
      title: "Add New Building",
      form: {
        url: "/building",
        fields: [
          //- { name: 'locationId',label:"Location ID", type: 'hidden', value: data.referenceId},
          { name: "name", label: "Building Name", placeholder: "ex. Gedung A", validate:'empty', required:true},
          { name: "builtDate", label: "Built Date", type: "date",placeholder: "ex. 5", validate:'empty', required:true},
          { name: 'type', label: 'Type', type: 'select', settings: {remote: {url: "/info/buildingType", method: "GET"}, resultMapping: { label: 'name', value: "name"}}},
          { name: "height", label: "Height (m)", placeholder: "ex. 30", validate:'empty', required:true},
          { name: "width", label: "Width (m)", placeholder: "ex. 20", validate:'empty', required:true},
          { name: "lengthBuilding", label: "Length (m)", placeholder: "ex. 40", validate:'empty', required:true},
          { name: "squareMeter", label: "Square Meter", placeholder: "ex. 40", validate:'empty', required:true},
          { name: "floor", label: "Number Of Floor", type: 'number', placeholder: "ex. 5", validate:'empty', required:true},
          { name: "labelingCode", label: "Labeling Code", placeholder: "ex. 5", validate:'empty', required:true},
          { name: "geometry", label: " Geometry", placeholder: "ex. 5", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm

  //- script.
  //-   function createBuilding() {
  //-     var windowedMap = window.open("/map","_map_","location=no,status=no,titlebar=no,width=auto,height=auto");
  //-     windowedMap.onbeforeunload = function(event) { location.reload() };
  //-   }