div(style="float: right")
  button.ui.tiny.left.labeled.green.icon.button(id=actionTab.key+"SyncButton" data-tooltip=actionTab.sync.label) <i class="sync icon"></i> Sync
//- div(style="clear: both; height: 50px")

script.
  $(document).ready(function () {
    $('#!{actionTab.key}SyncButton').on("click", function (event) {
      if (confirm("Are you sure?") == true) {
        sendPut({
          url: "!{actionTab.sync.url}",
        });
      }
     });
  });