extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Location', url: '/Location'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }
    function deletePhoto(locid,uid){
      alert('DELETED !')
    }
    $('.menu .item').tab()

block content
  -
    const actionTab  = {
      key: 'deleteRack',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editRack',
      title: 'Location Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/RACK_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'height', label: 'Height (m)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'serialNumber', label: 'Serial Number', type: 'text', value: data.serialNumber},
        {name: 'manufacturer', label: 'Manufacturer', type: 'select', value: data.manufacturer, settings: {remote: {url: "/referenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'model', label: 'Model', type: 'select', value: data.model, settings: {remote: {url: "/referenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
    
  include ../component/new/fieldList

  -
    let tabSettings = {
      tab : [
        {
          name : "Detail",
          key : "tab1",
          pathCollection : [
            {
              path : "tab/specification",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Specification", className: "openAddSpecification"},
                  delete : {label: "Delete Specification", link: "delete", callBack: "deleteSpecification"}
                }
              }
            },
            {
              path : "tab/shelf",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Shelf", className: "openAddShelf"},
                  delete : {label: "Delete Shelf", link: "delete", callBack: "deleteShelf"}
                }
              }
            },
            {
              path : "tab/slot",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Slot", className: "openAddSlot"},
                  delete : {label: "Delete Slot", link: "delete", callBack: "deleteSlot"}
                }
              }
            },
            {
              path : "tab/electricSocket",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Electric Socket", className: "openAddElectric Socket"},
                  delete : {label: "Delete Electric Socket", link: "delete", callBack: "deleteElectric Socket"}
                }
              }
            },
            {
              path : "tab/connectivityPanel",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Connectivity Panel", className: "openAddConnectivity Panel"},
                  delete : {label: "Delete Connectivity Panel", link: "delete", callBack: "deleteConnectivity Panel"}
                }
              }
            },
          ],
          active : true
        },
        {
          name : "Location",
          key : "tab2",
          pathCollection :[
            {
              path : "tab/map",
              data : {}
            }
          ],
          active : false
        },
        {
          name : "Service",
          key: "tab3",
          pathCollection : [
            {
              path : "tab/customer",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Customer", className: "openAddCustomer"},
                  delete : {label: "Delete Customer", link: "delete", callBack: "deleteCustomer"}
                }
              }
            },
            {
              path : "tab/service",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add    : {label: "Add Service", className: "openAddService"},
                  delete : {label: "Delete Service", link: "delete", callBack: "deleteService"}
                }
              }
            },
            {
              path : "tab/reservation",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Reservation", className: "openAddReservation"},
                  delete : {label: "Delete Reservation", link: "delete", callBack: "deleteReservation"}
                }
              }
            }            
          ],
          active : false
        },
        {
          name : "Attachment",
          key : "tab4",
          pathCollection:[
            {
              path : "tab/photo",
              data : []
            },
            {
              path : "tab/video",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Video", className: "openAddVideo"},
                  delete : {label: "Delete Video", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/document",
              data :{
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Document", className: "openAddDocument"},
                  delete : {label: "Delete Document", link: "delete", callBack: "deleteCallback"}
                }
              }
            },
            {
              path : "tab/360view",
              data :{
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add View", className: "openAddView"},
                  delete : {label: "Delete View", link: "delete", callBack: "deleteCallback"}
                }
              }
            }
          ]
        },
        {
          name : "Asset",
          key : "tab5",
          pathCollection:[
            {
              path : "tab/hardware",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Hardware", className: "openAddHardware"},
                  delete : {label: "Delete Hardware", link: "delete", callBack: "deleteHardware"}
                }
              }
            },
            {
              path : "tab/capex",
              data : {
                datatable : [],
                referenceId :"",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Capex", className: "openAddCapex"},
                  delete : {label: "Delete Capex", link: "delete", callBack: "deleteCapex"}
                }
              }
            },
            {
              path : "tab/opex",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Opex", className: "openAddOpex"},
                  delete : {label: "Delete Opex", link: "delete", callBack: "deleteOpex"}
                }
              }
            }
          ]
        },
        {
          name : "Contact",
          key : "tab6",
          pathCollection:[
            {
              path : "tab/responsible",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Responsible", className: "openAddResponsible"},
                  delete : {label: "Delete Responsible", link: "delete", callBack: "deleteResponsible"}
                }
              }
            },
            {
              path : "tab/accountable",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Accountable", className: "openAddAccountable"},
                  delete : {label: "Delete Accountable", link: "delete", callBack: "deleteAccountable"}
                }
              }
            },
            {
              path : "tab/controller",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Controller", className: "openAddController"},
                  delete : {label: "Delete Controller", link: "delete", callBack: "deleteController"}
                }
              }
            },
            {
              path : "tab/informer",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Informer", className: "openAddInformer"},
                  delete : {label: "Delete Informer", link: "delete", callBack: "deleteInformer"}
                }
              }
            }
          ]
        },
        {
          name : "Event",
          key : "tab7",
          pathCollection:[
            {
              path : "tab/maintenance",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Maintenance", className: "openAddMaintenance"},
                  delete : {label: "Delete Maintenance", link: "delete", callBack: "deleteMaintenance"}
                }
              }
            },
            {
              path : "tab/incident",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Incident", className: "openAddIncident"},
                  delete : {label: "Delete Incident", link: "delete", callBack: "deleteIncident"}
                }
              }
            },
            {
              path : "tab/fault",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Fault", className: "openAddFault"},
                  delete : {label: "Delete Fault", link: "delete", callBack: "deleteFault"}
                }
              }
            },
            {
              path : "tab/sales",
              data : {
                datatable : [],
                referenceId : "",
                addUrl : "",
                buttonDatatable : {
                  add: {label: "Add Sales", className: "openAddSales"},
                  delete : {label: "Delete Sales", link: "delete", callBack: "deleteSales"}
                }
              }
            }
          ]
        }
      ]
    } 
  include ../component/new/tab