extends ../layout

block breadcrumb
  +breadcrumb('Rack', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Rack",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Rack", className: "openAddModal"},
      }
    }
    
  include ../component/new/table

  -
    modalForm = {
      key: "createRack",
      title: "Add New Rack",
      form: {
        url: "/rack",
        fields: [
          { name: 'locationName', label: 'Location', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/data',
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
            { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/{{locationName}}/building',
                urlParam: {locationName: '$("#_locationName_ > input[name=locationName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 3
            }
          },
          { name: 'floorName', label: 'Floor', type: 'search', placeholder: 'Please type Floor name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/building/{{buildingName}}/floor',
                urlParam: {buildingName: '$("#_buildingName_ > input[name=buildingName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][_id]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 1
            }
          },
          { name: 'roomName', label: 'Room', type: 'search', placeholder: 'Please type Room name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/floor/{{floorName}}/room',
                urlParam: {floorName: '$("#_floorName_ > input[name=floorName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 3
            }
          },
          { name: 'spaceId', label: 'Space', type: 'search', placeholder: 'Please type Space name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/room/{{roomName}}/space',
                urlParam: {roomName: '$("#_roomName_ > input[name=roomName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 3
            }
          },
            { name: "type", label: "Type", type: "select", placeholder: "ex. SUB-RACK", validate:'empty', required:true, settings: {remote: {url: "/ReferenceObject/RACK_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "name", label: "Name", placeholder: "ex. RACK-B1", validate:'empty', required:true},
            { name: "label", label: "Label", placeholder: "ex. Rack B1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
            { name: "height", label: "Height (cm)", placeholder: "ex. 200", validate:'empty', required:true},
            { name: "width", label: "Width (cm)", placeholder: "ex. 60", validate:'empty', required:true},
            { name: "length", label: "Length (cm)", placeholder: "ex. 120", validate:'empty', required:true},
            { name: "serialNumber", label: "Serial Number", placeholder: "ex. GOOD1234DOSI", validate:'empty', required:true},
            { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "ex. GDLT", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "model", label: "Model", type: "select", placeholder: "ex. GT-N022", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm