body.main {
  height: 100%;
  display: flex;
  flex-flow: column;
}

#footer {
  flex: 0 1 auto;
  margin: 0;
  padding: 1px 20px;
  font-size: 8px;
  align-self: flex-start;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* h-oofset v-offest blur spread*/
  -moz-box-shadow: 0 -1px 2px 0px rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0 -1px 2px 0px rgba(34, 36, 38, 0.15);
  box-shadow: 0 -1px 2px 0px rgba(34, 36, 38, 0.15);
}
/* IE 6 */
* html #footer {
  position: absolute;
  top: expression(
    (
        0- (footer.offsetHeight)+
          (
            document.documentElement.clientHeight ?
              document.documentElement.clientHeight: document.body.clientHeight
          )+ (ignoreMe = document.documentElement.scrollTop ?
              document.documentElement.scrollTop: document.body.scrollTop)
      )+'px'
  );
}

a {
  color: #00b7ff;
}

.notVisible {
  visibility: hidden;
}

.disappear {
  display: none;
}

.pointing {
  cursor: pointer;
}

.ui.basic.label {
  margin-top: 5px;
}

.nowrap {
  white-space: nowrap;
}

.spacer {
  height: 50px;
}

#notification {
  position: fixed;
  z-index: 2000;
  left: 100px;
  top: 50px;
  right: 100px;
}

.iziToast-wrapper {
  max-height: 400px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 2000;
}
