extends ../layout

block breadcrumb
  +breadcrumb('Object', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Object",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Object", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createObject",
      title: "Create Object",
      form: {
        url: "/object",
        fields: [
            { type: "group",
              label: "Sample Input Group",
              fieldGroup: [
                {
                  name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true
                },
                {
                  name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true
                }
              ]
            },
            { name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "nameAlias", label: "Name Alias", placeholder: "ex. BDG", validate:'empty', required:true},
            { name: "description", label: "Description", placeholder: "ex. Administrator", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm