extends ../layout

block breadcrumb
  +breadcrumb('Ownership', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Ownership",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Ownership", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createOwnership",
      title: "Create Ownership",
      form: {
        url: "/ownership",
        fields: [
            { name: "description", label: "Description", placeholder: "ex. Description", validate:'empty', required:true},
            { name: "startDate", label: "Start Date", placeholder: "ex. Start Date", validate:'empty', required:true},
            { name: "endDate", label: "End Date", placeholder: "ex. End Date", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm