extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Asset', url: '/asset'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteAsset',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editAsset',
      title: 'Asset Information',
      fields: [
        {name: 'uid', label: 'Site ID', type: 'text', value: data._id},
        {name: 'name', label: 'Location Name', type: 'text', value: data.name},
        {name: 'type', label: 'Location Type', type: 'text', value: data.type},
        {name: 'address', label: 'Address', type: 'text', value: data.address},
        {name: 'geometry', label: 'Geometry', type: 'text', value: data.geometry},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
  //tableSettings = {
      key: "tableContactInfo",
      title: "Contact Info",
      filterable: true,
      columns: [
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "Description", name: "description"},
        {label: "Status", name: "status", type: "boolean", filter: {type: 'text'}},
      ],
      data: data.objectModel,
      buttons: {
        add: {label: "Add ObjectModel", className: "openAddObjectModel"},
        delete: {label: "Remove Object Models from this Object", link: "delete", callback: "deleteCallback"}
      }
    }
  //include ../component/new/table 
  