extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Power Unit', url: '/powerUnit'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
    -
        const actionTab  = {
            key: 'deletePowerUnit',
            delete: {
                url: data.links.delete.url,
                info: 'Delete this Power Unit',
                label: 'Delete this Power Unit',
            }
        }
    include ../component/removeButton

    -
        let detailView = {
            key: 'editPowerUnit',
            title: 'Power Unit Information',
            fields: [
                {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/POWER_EQUIPMENT_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
                {name: 'name', label: 'Name', type: 'text', value: data.name},
                {name: 'label', label: 'Label', type: 'text', value: data.label},
                {name: 'uid', label: 'UID', type: 'text', value: data.uid},
                {name: 'serialNumber', label: 'Serial Number', type: 'text', value: data.serialNumber},
                {name: 'manufacturer', label: 'Manufacturer', type: 'select', value: data.manufacturer, settings: {remote: {url: "/referenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
                {name: 'model', label: 'Model', type: 'select', value: data.model, settings: {remote: {url: "/referenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
                {name: 'voltage', label: 'Voltage (Volt)', type: 'text', value: data.voltage},
                {name: 'ampere', label: 'Ampere (Amp)', type: 'text', value: data.ampere},
                {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
                {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
            ],
            actions: {
                edit: {
                    url: data.links.edit.url,
                    label: 'Edit service information',
                }
            }
        }
    include ../component/new/fieldList
