extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Shelf', url: '/shelf'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }


block content
  -
    const actionTab  = {
      key: 'deleteShelf',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this Shelf',
        label: 'Delete this Shelf',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editShelf',
      title: 'Shelf Information',
      fields: [
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'number', label: 'Shelf Number', type: 'text', value: data.number},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'height', label: 'Height (cm)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (cm)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (cm)', type: 'text', value: data.length},
        {name: 'serialNumber', label: 'Serial Number', type: 'text', value: data.serialNumber},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "tableSlot",
      title: "Slot",
      filterable: true,
      columns: [
        {label: "Number", name: "number", filter: {type: 'text'}},
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "Label", name: "label", filter: {type: 'text'}},
        {label: "Purpose", name: "purpose", filter: {type: 'text'}},
        {label: "Status", name: "status", type: "text"},
        {label: "Created At", name: "createdAt", type: 'date'}
      ],
      data: data.slotData,
      buttons: {
        add: {label: "Add Slot", className: "openAddSlot"},
        delete: {label: "Remove Slot from this Shelf", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table

  -
    modalForm = {
      key: "openAddSlot",
      title: "Create Slot",
      form: {
        url: "/slot",
        fields: [
            { name: "shelfId", type: "hidden", value: data._id },
            { name: "number", label: "Number", placeholder: "ex. 1/1", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. SLOT-1", validate:'empty', required:true},
            { name: "label", label: "Label", placeholder: "ex. Slot-1 Rack A1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
            { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        ]
      },
      trigger: {
        className: "openAddSlot"
      }
    }
  include ../component/new/modalForm

  script.
    if(#{data.slotData.length} == 0){
          let urlGenerate = `/shelf/#{data._id}/generateSlot?rackType=#{data.rackData[0].type}`
          $.ajax({
            url: urlGenerate,
            method: 'GET',
            success: function (data, textStatus, jqXHR) {
              window.location.reload()
            },
            error: function (jqXHR, textStatus, error) {
              console.log(jqXHR, textStatus, error)
            }
          })
        }
