extends ../layout

block script

block breadcrumb
  +breadcrumb(data.module[0].name, {text: 'Home', url: '/'}, {text: 'PhysicalDevice', url: '/physicaldevice'},{text: 'PhysicalDeviceDetail', url: '/physicaldevice/id/'+data.id})

block content
  script.
    function openUpdate(elmnt, data){
      document.getElementById("key").value = data.key;
      document.getElementById("status").value = data.status;
      $("#editPortModal").modal("show");
    }

  -
    let detailView = {
      key: "physicaldeviceInfoModule",
      title: "PhysicalDevice Information Module",
      fields: [
        {name: "name", label: "Name", type: 'readonly', value: data.module[0].name},
        {name: "networkRole", label: "Network Role", type: 'readonly', value: data.module[0].networkRole},
        {name: "status", label: "Status", type: "select", settings: {remote: {url: '/info/statusPhysicalDevice'}, resultMapping: {label: "name",value:"name"}}, value: data.module[0].status}
      ],
      actions: {
        edit: {
          url: links.edit.url,
        } 
      }
    }
  include ../component/new/fieldList

  -
    var tableSettings = {
      key: "ports",
      title: "Ports",
      filterable: true,
      columns: [
        { name: "name", label: "Name", filter: { type: 'text' } },
        { name: "key", label: "Key", filter: { type: 'text' } },
        { name: "status", label: "Status", filter: { type: 'text' },type:'status' },
        { name: "iUP", label: "Upstream", filter: { type: 'text' } },
        { name: "iDown", label: "Downstream", filter: { type: 'text' } },
        
      ],
      data: data.port,
      buttons:{
        update: {label: "Update Port", callback: "openUpdate"},
      },
    }
  include ../component/new/table

  -
    var modalForm = {
      key: "editPort",
      title: "Edit Port",
      form: {
        url: '/physicaldevice',
        method: 'PUT',
        fields: [
            { id: "key", name: "id", type: "hidden"},
            { id: "status", name: "status", label: "Status", type: "select", 
            rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
            settings: {remote: {url: '/info/statusPhysicalDevice'}, resultMapping: {label: "name",value:"name"}}},
        ],
        callback: {
          onSuccess: () => {
            window.location.reload();
          }
        },
      },
    }
  include ../component/new/modalForm