if detailView.collapse
  .ui.fluid.accordion
    .title.active
      h3= detailView.title
        i.dropdown.icon.right.floated.fluid
      p= detailView.tooltipTitle
      .ui.divider
    .content.active
      include collapse.pug
  br
  br
  br
else
  if detailView.title
    h3.ui.header= detailView.title
  include collapse.pug

-
  var functionScript = '';
  if (detailView.actions && detailView.actions.edit) {
    let ajaxBody = "";
    detailView.fields.forEach(function(field, index){
      if(field.type === 'hidden') {
        ajaxBody += 'data["'+ field.name +'"] = "'+ field.value +'";';
      }
    });

    ajaxBody +=
        'sendPut({' +
          'url: "'+ detailView.actions.edit.url +'",' +
          'data: data' +
        '});';

    functionScript +=
      '$(".'+ detailView.key +'SaveButton").on("click", function (event) {' +
        'const fieldName = this.getAttribute("data-form-name");' +
        'const field = document.getElementById("'+ detailView.key +'Input"+ fieldName);' +
        'const data = {};' +
        'data[field.name] = field.value;' +
        ajaxBody +
      '});';

    functionScript +=
      '$(".'+ detailView.key +'Input").on("keypress", function (event) {' +
        'if(event.key !== "Enter") return;' +
        'const data = {};' +
        'data[this.name] = this.value;' +
        ajaxBody +
      '});';
  }

-
  var modalForms = [];
  if (detailView.actions && detailView.actions.edit) {
    detailView.fields.forEach(function(field, index) {
      if(field.type === 'select') {
        modalForms.push({
          key: field.name + 'InputForm',
          title: '',
          form: {
            url: detailView.actions.edit.url,
            method: 'PUT',
            fields: [
                { name: field.name, label: field.label, placeholder: 'Select ' + field.label, type: 'select', settings: field.settings},
            ],
          },
        });
      }
    })
  }

  if (detailView.actions && detailView.actions.objectEdit) {
    detailView.fields.forEach(function(field, index) {
      if(field.type === 'object' && field.editable && detailView.actions.objectEdit[field.name]) {
        modalForms.push({
          key: field.name + 'InputForm',
          title: '',
          form: {
            url: detailView.actions.objectEdit[field.name].url,
            method: 'PUT',
            fields: [
                { name: field.name, label: field.label, placeholder: 'Select ' + field.label, type: (field.settings.remote.query? 'search' : 'select'), settings: field.settings},
            ],
          },
        });
      }
    })
  }

each modalForm in modalForms
  include ./modalForm

-
  if (detailView.actions && detailView.actions.custom) {
    detailView.actions.custom.forEach(function(item, index) {
      if(item.callback) {
        functionScript +=
          '$("#'+ item.id +'").on("click", function (event) {' +
            item.callback +'(this)' +
          '});';
      }
    });
  }

script.
  $(".!{detailView.key}Input")
    .popup()

  $(".!{detailView.key}Field").on("mouseenter", function() {
      $(this).find(".!{detailView.key}Markerselect").removeClass("notVisible");
      $(this).find(".!{detailView.key}Markertext").removeClass("notVisible");
      $(this).find(".!{detailView.key}Markerobject.editable").removeClass("notVisible");
  });

  $(".!{detailView.key}Field").on("mouseleave", function() {
      $(this).find(".!{detailView.key}Markerselect").addClass("notVisible");
      $(this).find(".!{detailView.key}Markertext").addClass("notVisible");
      $(this).find(".!{detailView.key}Markerobject.editable").addClass("notVisible");
  });

  $(".!{detailView.key}Markertext").on("click", function() {
      const inputName = this.getAttribute("data-form-name");
      const input = $("#!{detailView.key}Input"+ inputName);
      input.removeAttr("readonly").parent().removeClass("transparent");
      $("#!{detailView.key}SaveButton"+ inputName).removeClass("notVisible");
  });

  $(".!{detailView.key}Markerselect").on("click", function() {
      const inputName = this.getAttribute("data-form-name");
      $("#"+ inputName +"InputFormModal").modal("show");
  });

  $(".!{detailView.key}Markerobject").on("click", function() {
    const inputName = this.getAttribute("data-form-name");
    $("#"+ inputName +"InputFormModal").modal("show");
  });

  !{functionScript}
  