extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'SSID', url: '/ssid'})

block content
  -
    const actionTab  = {
      key: "editSSIDInfo",
      delete: {
        url: data.links.delete.url,
        info: "Delete this SSID",
        label: "Delete this SSID",
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "info",
      title: "SSID Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "status", label: "Status", type: 'select', value: data.status, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: "Edit SSID Information",
        }
      },
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "Additional",
      title: "Additional Information",
      fields: [
        {name: "createdAt", label: "Created At", type: 'readonly', value: data.createdAt},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
      ],
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "wlan",
      title: "Serving WLAN",
      columns: [
        { label: "Device", name: "device.name", link: 'deviceView', filter: {type: 'text'}},
        { label: "Module", name: "module.name", link: 'moduleView', filter: {type: 'text'}},
        { label: "Name", name: "name", link: 'view', filter: {type: 'text'}},
        { label: "Profile Name", name: "profileName", filter: {type: 'text'}},
        { label: "Status", name: "status", filter: {type: 'text'}},
        { label: "Created By", name: "createdBy", filter: {type: 'text'}},
        { label: "Created At", name: "createdAt", filter: {type: 'text'}},
      ],
      filterable: true,
      data: {
        url: data.links.wlanData.url,
        method: data.links.wlanData.method,
        cached: true,
      },
      buttons: {
        add: {label: "Add new WLAN to this module", className: "openConnectWLANModal"},
        delete: {label: "Remove this connection", link: "delete"}
      }
    }
  include ../component/new/table

  -
    var modalForm = {
      key: "linkedWLAN",
      title: "Connect New WISM WLAN",
      form: {
        url: data.links.addWLANLink.url,
        fields: [
            { name: "ssid", type: "hidden", value: data.id },
            { name: "wacId", label: "Target WAC", type: "search", placeholder: "Please type WAC name", required:true, validate:'empty',
              settings: {
                remote : {
                  url: "/device/data",
                  query: "columns[0][search][value]",
                  extraData: { "columns[0][name]": 'name', "columns[1][name]": 'networkRole', "columns[1][search][value]": 'WAC', "length": 20, "order[0][column]": 0, "order[0][dir]": 'asc'}
                },
                resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                minChar: 3
              }
            },
            { name: "wismId", label: "Target WISM", type: "search", placeholder: "Please type WISM name", required:true, validate:'empty',
              settings: {
                remote : {
                  url: "/device/{{wacId}}/module/data?noNA=true",
                  urlParam: {wacId: '$("#_wacId_ > input[name=wacId]").val()'},
                  query: "columns[0][search][value]",
                  extraData: { "columns[0][name]": 'name', "length": 100, "order[0][column]": 0, "order[0][dir]": 'asc'}
                },
                resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                minChar: 1
              }
            },
            { name: "wismWLANId", label: "Target WLAN", type: "search", placeholder: "Please type WLAN name", required:true, validate:'empty',
              settings: {
                remote : {
                  url: "/device/{{wacId}}/module/{{wismId}}/wlan",
                  urlParam: {
                    wacId: '$("#_wacId_ > input[name=wacId]").val()',
                    wismId: '$("#_wismId_ > input[name=wismId]").val()'
                  },
                  query: "columns[0][search][value]",
                  extraData: { "columns[0][name]": 'name', "length": 20, "order[0][column]": 0, "order[0][dir]": 'asc'}
                },
                resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                minChar: 1
              }
            }
        ]
      },
      trigger: {
        className: "openConnectWLANModal"
      }
    }
  include ../component/new/modalForm

  -
    tableSettings = {
      key: "ap",
      title: "Access Point",
      columns: [
        { label: "Name", name: "name", link: 'view', filter: {type: 'text'}},
      ],
      filterable: true,
      data: {
        url: data.links.apData.url,
        method: data.links.apData.method,
      },
    }
  include ../component/new/table

  -
    tableSettings = {
      key: "service",
      title: "Service",
      columns: [
        { label: "Service ID", name: "sid", link: 'view', filter: {type: 'text'}, sort: false},
      ],
      filterable: true,
      data: {
        url: data.links.serviceData.url,
        method: data.links.serviceData.method,
      },
    }
  include ../component/new/table
