extends ../layout

block breadcrumb
  +breadcrumb('SSID', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "data",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
      },
      buttons: {
        add: {label: "Create a new SSID", className: "openAddSSIDModal"},
      },
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addDevice",
      title: "Create Device",
      trigger: {
        className: "openAddSSIDModal"
      },
      form: {
        url: "/ssid",
        fields: [
            { name: "name", label: "Name", placeholder: "ex. @wifi.id", validate:'empty', required:true},
            { label: "Status", name: "status", type: "select", placeholder: "ex. ACTIVE", value: 'ACTIVE', settings: {options: [{ label: "ACTIVE", value: "ACTIVE" }, { label: "INACTIVE", value: "INACTIVE" }]}},
        ],
        buttonLabel: "Create",
      },
    }
  include ../component/new/modalForm